name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3  # Updated to the latest version

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install and Build # This example project is built using npm and outputs to `build`
        run: |
          npm ci
          npm run build
        working-directory: ./frontend

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          GITHUB_TOKEN: ${{ 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 }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: frontend/build # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch